node_modules
dist
build
.next
package-lock.json
.venv
.env
pyproject.toml
.python-version
bin
.gradle
application.properties
settings.gradle
build.gradle
**/*.md
**/*.bat
**/*.sh
**/*.json
**/*.config.js