.biblioteca {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
}

.biblioteca__encabezado h1 {
    font-size: 2rem;
    color: var(--brand-dark);
    margin-bottom: -10px;
}

.biblioteca__contenedor {
    width: 100%;
    height: auto;

    display: flex;
    flex-flow: row nowrap;

    background: var(--bg-surface);
    border: var(--border-primary) solid 2px;
    border-radius: 8px;

    margin-top: 5px;
}
