.body-comsocial {
    padding: 20px;
    margin-right: 120px;
    margin-left: 40px;
    padding-bottom: 60px;
}

.body-comsocial__form {
    height: 300px;
    padding: 20px;

    display: flex;
    flex-direction: column;

    background: #FFFFFF;
    border: 2px solid #DCDCDC;
    border-radius: 20px;
}

.body-comsocial__form__content {
    display: flex;
    flex-grow: 1;
}

.body-comsocial__form__content__text {
    width: 50%;
    height: 100%;

    font-size: 1.5rem;

    padding: 2%;
    flex-grow: 1;

    box-sizing: border-box;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
}

.body-comsocial__form__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.body-comsocial__form__options div {
    display: flex;
    gap: 20px;
    scale: .85;
    transform: translateX(-9%);;
}

.body-comsocial__form__options__buttons {
    display: flex;
    align-items: center;
    margin-right: -20px;

    max-width: 220px;
    padding: 10px 20px 10px 20px;

    border: 2px solid #DCDCDC;
    border-radius: 30px;

    font-size: 1.5rem;
    line-height: 1;
}

.body-comsocial__form__options__buttons svg {
    cursor: pointer;
}

.body-comsocial__form__options__buttons p {
    width: min-content;
}

.body-comsocial__form__options__buttons__checkbox {
    width: 50px;
    height: 50px;
    cursor: pointer;
}