.sidebar-card {
    width: auto;
    height: fit-content;

    background: var(--bg-surface);
    box-sizing: border-box;
    padding: 15px;

    border: var(--border-primary) solid 1px;
    border-radius: 10px;
}

.sidebar-card__encabezado {
    display: flex;
    align-items: center;

    color: var(--brand-dark);
    font-size: .9rem;

    gap: 10px;
}

.sidebar-card__encabezado__img {
    width: fit-content;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--bg-accent);
    padding: 5px;
    border-radius: 5px;
}

.sidebar-card__options {
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;

    margin-top: 5px;
}

.sidebar-card__options__option--selected {
    font-weight: 900;
}