.sidebar {
    width: 300px;
    height: auto;

    background: var(--bg-primary);

    border-right: var(--border-primary) solid 2px;

    font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
}

.sidebar__content {
    width: 100%;
    height: 100vh;

    position: sticky;
    top: 0;
    left: 0;

    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    gap: 20px;

    box-sizing: border-box;
    padding: 20px;
}

.sidebar__content h1 {
    font-size: 1.5rem;
    color: var(--brand-dark);
}

.sidebar__cards {
    display: flex;
    flex-flow: column nowrap;

    margin-top: 20px;
    gap: 20px;
}

.sidebar__content__card {
    width: auto;
    height: fit-content;

    display: flex;
    align-items: center;
    gap: 15px;

    font-size: 1.1rem;
    color: var(--text-primary);
    background: var(--bg-surface);
    box-sizing: border-box;
    padding: 10px 15px 10px 15px;

    border: var(--border-primary) solid 1px;
    border-radius: 10px;

    cursor: pointer;
}

.sidebar__content__card__logout {
    width: fit-content;
    aspect-ratio: 1 / 1;

    display: flex;
    justify-content: center;
    align-items: center;

    background: var(--brand-red);
    padding: 10px;
    border-radius: 5px;
}

.sidebar__content__footer {
    display: flex;
    justify-content: center;

    font-family: "Handelson Three";
    font-size: 3.5rem;

    color: var(--brand-primary);
}