.body-layout {
    display: flex;
    min-height: 100vh;
}

.body-layout__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 140px);
    font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
    color: #1a1a1a;
}

.body-layout__büchi {
    position: fixed;
    bottom: 20px;
    right: 20px;
}