.body-layout {
    display: flex;
    min-height: 100vh;
    max-width: 100vw;
    flex-grow: 0;
    background: var(--bg-primary);
}

.body-layout__content {
    flex: 1 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
    color: var(--text-primary);
}

.body-layout__content__barra {
    display: flex;
    flex-flow: row nowrap;

    width: 100%;
    height: min-content;
    box-sizing: border-box;

    margin-top: 10px;
    padding-right: 40px;
}

.body-layout__content__barra__img {
    display: flex;
    height: 60px;
}

.body-layout__content__barra__img img {
    width: 100%;
    height: 100%;
}

.body-layout__büchi {
    position: fixed;
    bottom: 20px;
    right: 20px;
}