.body-layout {
    display: flex;
    min-height: 100vh;
    background: var(--bg-primary);
}

.body-layout__content {
    display: flex;
    flex-direction: column;
    width: calc(100% - 73px);
    font-family: "Hind Siliguri", Arial, Helvetica, sans-serif;
    color: var(--text-primary);
}

.body-layout__büchi {
    position: fixed;
    bottom: 20px;
    right: 20px;
}